.device-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  .device-card-content {
    text-align: center;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
